Feature Extraction ISRO_FINALLL_AFTER_IMPAC.pdf
Flood_Affected_Area_Atlas_of_India.pdf
output.wav
hypothetical_flood_Data.txt
context aware geospatial data retrieval.docx
Question.docx
db/
forest_fire_sample_crew/data/
img_rag_testing/